.header {
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: skyblue;
  border-radius: 20px;
}

.all_my_amount {
  display: flex;
  flex-direction: column;
}

.my_amount {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.my_amount_title {
  font-size: 50px;
  margin-bottom: 5px;
  border-bottom: 8px solid #4390e1;
}

.my_amount_sub {
  font-size: 30px;
}

.amount_detail_container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  gap: 50px;
}

.amount_detail_plus_container,
.amount_detail_minus_container {
  text-align: center;
  display: flex;
}

.amount_detail_plus_container {
  color: blue;
}

.amount_detail_minus_container {
  color: red;
}

/* 내역 리스트 */

.pay_detail {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.date {
  display: flex;
}

.date_btn {
  margin: 20px;
}

.pay_detail_list {
  display: flex;
  justify-content: space-between;
  border-bottom: 8px solid #4390e1;
}

.pay_detail_list > p {
  font-weight: bold;
}

.pay_detail_contents {
  width: 100%;
  height: 500px;
  overflow-x: hidden;
}

.pay_detail_item {
  display: flex;
  width: 100%;
}

ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 30px;
}

li {
  display: flex;
  justify-content: space-between;
  margin: 1%;
  width: 96%;
  border-radius: 30px;
  background-color: rgb(221, 153, 248);
}

.pay_detail_btn {
  display: flex;
  border: none;
}

/* 사용 내역 컨텐츠 */
.pay_detail_content {
  font-weight: bold;
}

.pay_detail_amount_spend {
  color: red;
}

.pay_detail_amount_income {
  color: blue;
}

/* footer 부분 */

.footer {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
}
