.header {
  display: flex;
  background-color: black;
  position: sticky;
}

.header-title {
  color: white;
  margin-left: 20px;
}

.group {
  display: flex;
  overflow: auto;
  padding-top: 10px;
}

.group-img {
  width: 40rem;
  height: 40rem;
  margin: 5px;
}

.nav_title {
  justify-content: center;
  text-align: center;
}

.nav_list a {
  display: flex;
  font-size: 30px;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.nav_list:hover {
  color: skyblue;
  transition: all 250ms ease-out;
  left: 0%;
  width: 100%;
  text-decoration: underline;
}

.first_content_header {
  position: sticky;
  top: 0; /* 화면 맨 위에 고정 */
  background: skyblue;
  padding: 10px;
  justify-content: center;
  z-index: 100; /* 다른 요소 위에 표시 */
}

.food_image {
  width: 30rem;
  height: 30rem;
  margin: 5px;
  flex-wrap: wrap;
}

.second_content_header {
  position: sticky;
  top: 0;
  background: skyblue;
  padding: 10px;
  justify-content: center;
  z-index: 100;
}

.house_image {
  width: 30rem;
  height: 30rem;
  margin: 5px;
}

.third_content_header {
  position: sticky;
  top: 0;
  background: skyblue;
  padding: 10px;
  justify-content: center;
  z-index: 100;
}

.etc_image {
  width: 30rem;
  height: 30rem;
  margin: 5px;
}
